<h3>Welcome <%= @full_name %>!</h3>

<p>You can confirm your account hitting the button below:</p>

<a href="<%= confirmation_url(@resource, confirmation_token: @token)%>" ><p style="background-color: rgb(15, 95, 208);text-align:center;padding:10px;color:white;width:150px;border-style: none;cursor:pointer;border-radius: 5px;">Confirm</p></a>
<p>If the link doesn't work, you can copy and paste the following URL to your browser:</p>
<%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>